*.mat
*.txt
*.TXT
*.fig
*.png
*.jpg
*.klog
*.alog
*.pkl
*.csv
*.xlsx
*.bdr
*.tsv
*.prn
*.log
*.data
*.ps
*.h5
*.sio
*.chk
*.mod
Analysis/*
Code/past_code/*
Code/paster_code/*
ice_temp_data/figures/*
ice_temp_data/MODISdata_03122016_03142016/*
ice_temp_data/VIIRSdata_03122016_03142016/*
ICEX_oasn/*
icex_spl_sd/03-13-2016/*
icex_spl_sd/03-14-2016/*
icex_spl_sd/alogs/*
nl_depth/discrete/*
nl_depth/se_sim/*
nl_depth/simi94/*
nl_depth/uniform/*
ssp_data/figures/*
ssp_data/result_files/*
ssp_data/ssp_figures/*
ssp_data/SVTS/*
